<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Spectra</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="imageclass">
                <span class="bi bi-image-fill-nav-menu" aria-hidden="true"></span> Image Class
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="agegender">
                <span class="bi bi-gender-ambiguous-nav-menu" aria-hidden="true"></span> Age Gender
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="arcface">
                <span class="bi bi-brilliance-nav-menu" aria-hidden="true"></span> Arc Face
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="newone">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> New One
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="facedetection">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Face Detection
            </NavLink>
        </div>
    </nav>
</div>

