@page "/agegender"
@using Spectra.ImageProcessing.Processing
@rendermode InteractiveServer

<PageTitle>Age Gender</PageTitle>

<p>Select an image file from your computer.</p>

<InputFile OnChange="OnFileSelected" accept="image/*" />

@if (isProcessing)
{
	<p><em>Processing...</em></p>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
	<div class="alert alert-danger">@errorMessage</div>
}
else if (predictedAge != "")
{
	<hr />
	<table class="table">
		<thead>
			<tr>
				<th>Age</th>
				<th>Gender</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@predictedAge</td>
				<td>@predictedGender (@predictedGenderConfidence:P1)</td>
			</tr>
		</tbody>
	</table>
}

@code {
	private bool isProcessing = false;
	private string? errorMessage;
	private string predictedAge = "";
	private string predictedGender = "-";
	private float predictedGenderConfidence = 0f;

	private async Task OnFileSelected(InputFileChangeEventArgs e)
	{
		var file = e.File;
		const long maxSize = 2L * 1024 * 1024;

		if (file == null)
		{
			errorMessage = "No file selected.";
			return;
		}

		if (file.Size > maxSize)
		{
			errorMessage = "File is too large. Max allowed size is 2 MB.";
			return;
		}

		isProcessing = true;
		errorMessage = null;

		await using var stream = file.OpenReadStream(maxAllowedSize: maxSize);

		await using var memoryStream = new MemoryStream();
		await stream.CopyToAsync(memoryStream);

		memoryStream.Position = 0;
		var ageGenderService = new AgeGenderService();
		var (age, gender, genderConf) = ageGenderService.PredictAgeGender(memoryStream);

		predictedAge = age;
		predictedGender = gender;
		predictedGenderConfidence = genderConf;

		isProcessing = false;
	}
}
