@page "/"

<PageTitle>Home</PageTitle>

<div>
    <h2>Welcome!</h2>
</div>
<div>
    <img class="background" src="/images/spectra.png" />
</div>

<style>
    .background {
        background-position: center;
        height: 40%;
        width: 40%;
    }
</style>